@import "../../../../assets/styles/index.scss";

.table {
  border-collapse: collapse;
  width: $full-size;
  text-align: left;

  th,
  td {
    padding: $layout-size-xl;
  }

  th {
    border-bottom: 2px solid $q-app-color;
  }

  td {
    border-bottom: 1px solid $q-app-color;
  }

  tbody {
    tr {
      color: $q-app-color;
      transition: all 300ms ease-in-out;

      &:hover {
        color: $light;
        background-color: $q-app-color;
        cursor: pointer;
      }
    }
  }
}
